<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570012497364-knb3p491c4v797p51bt2pd39826mo58u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570012497364-knb3p491c4v797p51bt2pd39826mo58u</string>
	<key>API_KEY</key>
	<string>AIzaSyDi0G02cb7WuixSZNyptIrYwJMr8Q_h7-0</string>
	<key>GCM_SENDER_ID</key>
	<string>570012497364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-887f0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-887f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570012497364:ios:c538e30a588a0634491241</string>
</dict>
</plist>